body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFD200;
    color: white;
    padding: 20px 0;
}

#logo {
    width: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;
    margin-left: 10px;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 20px;
}

video {
    width: 80%;
    max-width: 700px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #000;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
